@charset "utf-8";

/** 전체페이지 */

      .main-space {
         background-color: #eee;
      }
      
/** 표 넣을 박스 정리 */
#box1, .box2, .box3, .box4{
   text-align: center;
   background-color: #FFF;
   width: 90%; 
     height: 500px;
     margin: auto;
}

#market {
   font-size: 24px;
   font-weight:bold;
    padding: 20px;
    text-align: center;
}
/**box css*/
.page01 h4 {
    margin-left: 60px;
    margin-bottom: 10px;
}

.container {
   min-height: 2200px;
}